@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding-inline: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
}

/* a,
.green {
  text-decoration: none;
  color: rgb(79, 167, 187);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(79, 167, 187, 0.2);
  }
} */

.section {
  padding-bottom: 10rem;
  position: relative;
}

.section:last-child {
  padding-bottom: 0;
}

.section__marker {
  position: absolute;
  top: -5rem;
}
